@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

.container_row{
   max-width: 128rem;
   margin: 0 auto;
} 

.element.style{
   display: flex;
   
}

.flover{
   margin-top: 18.2rem;
   margin-left: 7.7rem;
}
.heading{
   font-size: 68px;
   color: $c-secondary;
   font-family: $body-font;
   margin-bottom: 3rem;
   max-width: 52.3rem;
}

.paragraph {
   font-size: 1.8rem;
   color: $c-text; 
   margin-right: 6rem;
   margin-bottom: 1rem;
   max-width: 49.3rem;
   line-height: 3.2rem; 
}
.plant{
   display: flex; 
   align-items:center;
   margin-top: 14.8rem;   
  
&_plant{
   display: flex;
   
   
   }

}

  
   

.previous{
   font-size: 2.4rem;
   color: #333333;
   font-family: $body-font;
   margin-left: 1.3rem;

   &_kaktus{
      font-size: 32px;
      font-family:$headers-font;
      color:$c-secondary;
      padding-top: 1.35rem;
    }

}


.next_img{
   border: 1px solid $c-secondary; 
   background-color:$c-secondary;
   padding: 3.9rem 4.9rem 3.8rem 4.9rem;
   margin-left: 5.3rem;
  
   
}
.next{
   display: flex;
   align-items: center;


   &__next{
   font-size: 2.4rem;
   color: #F2F2F2;
   font-family: Montserrat;
   line-height: 2.9rem;
   


   }
   
}
.arrow{
   margin-left: 1.3rem;
}
 
.rahasia{
   font-size: 3.2rem;
   font-family: Montserrat;
   font-style: normal; 
   color: #FFFFFF;
   padding-top: 1.35rem;
}

    