@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

.container{
   position: relative;
}

.img {
   position: absolute;
   margin-left: 11.9rem;
}

.first-row{
  margin-top: 18.6rem;
  margin-left: 63rem;
 
}

.heading{
   font-size: 68px;
   color: $c-secondary;
   font-family: $body-font;
   margin-bottom: 3rem;
}

.paragraph {
   font-size: 1.8rem;
   color: $c-text; 
   margin-right: 6rem;
   margin-bottom: 1rem;
}
.plant_plant{
   display: flex;
   justify-content :space-between; 
   margin-top: 15.3rem;
   margin-left: 1rem;
}
.plant {
   display: flex;
   align-items: center;

  
  
    &_next{
      display: flex;
      align-items: center;
      
    }

}
.previous{
   font-size: 2.4rem;
   color: #333333;
   font-family: $body-font;
   margin-left: 1rem;

   &_kaktus{
      font-size: 32px;
      font-family:$headers-font;
      color:$c-secondary;
      padding-top: 1.5rem;
    }

}

.next{
   display: flex;
   align-items: center;
   font-size: 2.4rem;
   color: #F2F2F2;
   font-family:$body-font;
}

 
.rahasia{
   font-size: 3.2rem;
   font-family:$headers-font;
   color:#333333;
   padding-top: 1.7rem;
}
.next_img{
   border: 1px solid $c-secondary;
   font-weight: bold;
   font-size: 1,4rem;
   color: #fff; 
   background-color:$c-secondary;
   
   
}
    