@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss


.line{
   margin-top: 8rem ;
}
.footer{
   display: flex;
   align-items:center;
   margin: 6rem 6rem 0 9.5rem;
   
   
}
.plantku{
   font-family: Poppins;
   font-style: normal;
   font-size: 2.4rem;
   line-height: 2.4rem;
   color: $c-secondary;
   letter-spacing: 0.05em;
   padding-bottom: 2.4rem;
}

.house{
   font-family: Work Sans;
   font-style: normal;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #333333;
   margin-bottom: 1rem;
   
}

.adress{
   font-family: Work Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 1.3rem;
   line-height: 2rem;
   color: #4F4F4F;
   max-width: 28.2rem;
}
.perusahaan{
   margin-right:6rem;
   
}
.submit{
   border: 2px solid $c-secondary;
   font-weight: bold;
   font-size: 1,4rem;
   color: #fff; 
   background-color:$c-secondary;
   padding: 0.4rem 1.2rem;
   
   &:hover{
      background-color: $c-primary;
      color:$c-text2;  
   }

}
.produk{
   font-family: Work Sans;
   font-style: normal;
   font-size: 1.6rem;
   line-height: 1.6rem;
   color: #000000; 
   padding-bottom: 2rem;
}

.tanaman{
   font-family: Work Sans;
   font-style: normal;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
   padding-top: 1.4rem;
}


.email{
   font-family: Work Sans;
   font-style: normal;
   font-size: 16px;
   line-height: 16px;
   color: #000000;
   
   
   &__input{
      max-width: 23.4rem;
      max-height: 3.2rem;
      padding: 0.8rem 8.7rem 1.3rem 0.8rem;
      margin: 1.8rem 0;


   }
}  

