section.fifth-section 
   div.container
      div.shop-shop
         div.aside
            div.info
               div.ad_block 
                  h3.shop Get your favourites plant on our shop now
                  a(href="#").nverse Visit Shop 
               div.shop_img 
                  img(src="./assets/imgs/flower.png", alt="flower").img_shop