section.firs-selection
   .container_row
      div.element.style
         img(src="./assets/imgs/img.jpg", alt="img").img
         div.flover
            p.heading Kembang Flower Mantap
            p.paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            div.plant
               div  
                  div.plant_plant
                     img(src="./assets/imgs/arrow.svg", alt="left")
                     p.previous Previous
                  p.previous_kaktus  Kaktus Plant 
               div.next_img
                  div.next  
                     p.next__next Next
                     img(src="./assets/imgs/right.svg", alt="arrow").arrow
                  p.rahasia Rahasia Plant           