section.firs-selection
   img(src="./assets/imgs/img.jpg", alt="img").img
   .container
      div.first-row
         div.firs-selection_content
            h1.heading Kembang Flower Mantap
            p.paragraph Lorem Ipsum is simply dummy text of the printing 
            p.paragraph and typesetting industry. Lorem Ipsum has been the 
            p.paragraph industry's standard dummy text ever since the 1500s,
         div.plant_plant
            div
               div.plant
                  img(src="./assets/imgs/arrow.svg", alt="left")
                  .previous Previous
               h2.previous_kaktus  Kaktus Plant
               div.plant_next
            div.next_img  
               p.next Next
                  img(src="./assets/imgs/right.svg", alt="arrow")
                  h3.rahasia Rahasia Plant           