footer.footer 
    div.line
        hr
    .container    
        div.footer
            div.perusahaan
                h3.plantku PLANTKU
                h4.house Plantku House
                h5.adress Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282
            div.perusahaan     
                h3.produk Perusahaan
                p.tanaman Tentang Kami
                p.tanaman Hubungi Kami
            div.perusahaan 
                h3.produk Produk
                p.tanaman Tanaman
                p.tanaman Tanaman Lain
            div.perusahaan 
                h.email Berlangganan Email Kami
                input(type='email' placeholder='Masukan Alamat Email')
                a(href="#").submit Submit       
                    
                    
