header.header 
    div.container
        div.header_row
            a(href="index.html")
                img(src="./assets/imgs/logo.svg", alt="logo").logo
            .header_links
                a(href="#")
                    img(src="./assets/imgs/magnifier.svg", alt="magnifier")
                a(href="#").links_header
                    img(src="./assets/imgs/basket.svg", alt="basket")
                a(href="#").link_header Sign Up
                a(href="#").link_header.link_header--inverse Sign In         