section.second-selection
   .container
      div.services
         div.car
            div.row
               img(src="./assets/imgs/car.svg", alt="car")
               div.delivery
                  h2 Fast 
                  h2 Delivery
            div.lorem
               p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
         div.car
            div.row
               img(src="./assets/imgs/headphones.svg", alt="car")
               h2.delivery Great Customer Service
            div.lorem
               p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
         div.car
            div.row
               img(src="./assets/imgs/plant.svg", alt="car")
               div.delivery
                  h2 Original 
                  h2 Plants
            div.lorem
               p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
         div.car
            div.row
               img(src="./assets/imgs/dollar-symbol.svg", alt="car")
               div.delivery   
                  h2 Affordable 
                  h2 Price
            div.lorem   
               p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard