section.second-selection
   .container
      .item
         mixin item(img, title, description)
            .items
               .item-img
                  img(src=img, alt=features)
                  .item__title=title
               .item__description=description
         +item("./assets/imgs/car.svg","Fast Delivery","Lorem Ipsum is simply dummy text of the printing and typesetting industry's Lorem Ipsum has been the industry's standard,")
         +item("./assets/imgs/headphones.svg","Great Customer Service","Lorem Ipsum is simply dummy text of the printing and typesetting industry's Lorem Ipsum has been the industry's standard,")
         +item("./assets/imgs/plant.svg","Original Plants","Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard")
         +item("./assets/imgs/dollar-symbol.svg","Affordable Price","Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard")