section.third-section
   div.container
      div.third-selection
         p.search Featured Plants
         select.form-select(aria-label='Default select example' size='1')
            option(value='1') Cheaper First
            option(value='2') Average price
            option(value='3') Expensive price
            option(value='4') Very expensive price
      hr
      div.features
         div 
            img.landak(src="./assets/imgs/kaktus.png", alt="kaktus")
            div.price       
               h3 Kaktus Plants 
               p.cost IDR 85.000
         div   
            img.landak(src="./assets/imgs/landak.png", alt="kaktus")
            div.price    
               h3 Landak Plants 
               p.cost IDR 85.000
         div    
            img.landak(src="./assets/imgs/kecunbug.png", alt="kaktus")
            div.price   
               h3 Kecubung Plants 
               p.cost IDR 85.000
         div      
            img.landak(src="./assets/imgs/kaktus_plants.png", alt="kaktus")
            div.price
               h3 Kecubung Plants 
               p.cost IDR 85.000
         div   
            img.landak(src="./assets/imgs/kecubung_plants.png", alt="kaktus")
            div.price
               h3 Kecubung Plants 
               p.cost IDR 85.000                        