// переменные 
//GRID
//точки адаптива
$lg: 1280px;
$md: 1023px;
$sm: 767px;
$xs: 575px;


//Цвета макета
$c-primary:#F3F4F6;//основной цвет макета
$c-secondary:#156963;//дополнительный цвет макета
$c-text:#2C1500;//основной цвет текста макета
$c-text2: #000000;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Montserrat', sans-serif;//основной
$headers-font: 'Montserrat', sans-serif;//для заголовков
$secondary-font: 'Work Sans', sans-serif;//дополнительный
